In [27]:
import pandas as pd

In [28]:
dados = pd.read_excel(r'C:\Users\Jonathan\OneDrive\Área de Trabalho\analise_imigrantes\dados\condominio.xlsx')
dados = pd.DataFrame(dados)
dados

,Data,Histórico,Valor,Tipo
0,2021-01-05,Honorários serv. prestados pela Campos 12/2020.,1572.00,CONTA ORDINÁRIA
1,2021-01-05,Emissão de boletos 12/2020.,62.40,CONTA ORDINÁRIA
2,2021-01-06,Tarifa Conta Certa 01/2021 ( Itaú ).,80.68,CONTA ORDINÁRIA
3,2021-01-06,Tarifa Conta Certa Exced 01/2021 ( Itaú ).,30.54,CONTA ORDINÁRIA
4,2021-01-08,Remuneração Sindico 12/2020.,1108.38,CONTA ORDINÁRIA
...,...,...,...,...
1265,2023-05-31,Taxa anual elevadores ano 2023 chapas 194748 /...,826.72,MANUTENÇÃO E LIMPEZA
1266,2023-05-31,Imposto de Renda 05/2023 ( CDB-DI ).,73.95,FUNDO DE RESERVA
1267,2023-05-31,Imposto de Renda 05/2023 ( C/P 88.851-9 ).,0.03,ALUGUEL COBERTURA
1268,2023-05-31,Imposto de Renda 05/2023 ( C/P 88.853-5 ).,0.03,ALUGUEL COBERTURA
1269,2023-05-31,Kamel CF. 29491 lampada tubular.,30.00,CAIXA INTERNO

In [29]:
dados.to_csv('condominio.csv',index=False,encoding='utf-8')

In [ ]:
filtro = dados[['Data','Histórico',	'Valor','Tipo']][dados['Histórico'] == 'A ']
filtro

In [ ]:
dados['Categoria'] = dados['Histórico'].apply(lambda x: ' '.join(x.split()[:2]))

In [ ]:
dados